body {

   background-image: url("./Picture/UTDR_BG.gif");
   background-repeat:repeat;
font-size:large;
font-family: Arial, Helvetica, sans-serif;


.container {
   display:grid;
   justify-content:center;
   border-radius: 5px;
}

.banner {
   justify-content: center;
   display:flex;
   grid-row:1 / 2;
   grid-column: 1 / 4;
   color:rgb(	48, 102, 190);
   background-color: rgb(	91,	192,	235);
   border: solid 2px rgb(195, 40, 110);
   max-width: 1000px;
   height: 100px;

}

.nav {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    color:rgb(48, 102, 190);
    background-color: rgb(	91,	192,	235);
    border: solid 2px rgb(195, 40, 110);
    max-height: 1000px;
    min-width: 70px;
    max-width: 200px;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
}

.navint{
   font-size:20px;
   transition: transform .2s;
}

.navint:hover{
   transform: scale(1.2);
   color: rgb(255, 255, 255);
}

.main {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    color:rgb(48, 102, 190);
    background-color: rgb(91,	192,	235);
    border: solid 2px rgb(195, 40, 110);
    max-height: 300px;
    max-width: 500px;
    overflow-wrap:break-word;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: rgb(195, 40, 110) rgb(48, 102, 190);
}

.images{
   grid-row: 2 / 3;
   grid-column: 3 / 4;
   color: rgb(48, 102, 190);
   background-color: rgb(	91,	192,	235);
   border: solid 2px rgb(195, 40, 110);
   max-height: 1000px;
   max-width: 200px;
}

.footer{
   grid-row: 3 / 4;
   grid-column: 1 / 4;
   color: rgb(48, 102, 190);
   background-color: rgb(	91,	192,	235);
   border: solid 2px rgb(195, 40, 110);
   max-height: 1000px;
}

}