@font-face {
  font-family: 'Caramel';
  src: url(./fonts/SuperCaramel.ttf);
}

body {

   background-image: url("./Picture/UTDR_BG.gif");
   background-repeat:repeat;
font-size:larger;
font-family: Arial, Helvetica, sans-serif;

a:link {
   text-decoration:underline;
   color:rgb(43, 45, 135);
}

a:visited {
   text-decoration:none;
   color:rgb(43, 45, 135);
}

a:hover{
   text-decoration:underline;
   color:rgb(43, 45, 135);
}

.container {
   display:grid;
   justify-content:center;
   padding-top: 50px;
}

.banner {
   font-family:Caramel;
   justify-content: center;
   display:flex;
   grid-row:1 / 2;
   grid-column: 1 / 4;
   color:rgb(43, 45, 135);
   background-color: rgb(63, 118, 207);
   border: solid 2px rgb(39, 83, 153);
   max-width: 1762px;
   height: 100px;

}

.nav {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    color:rgb(43, 45, 135);
    background-color: rgb(88, 164, 230);
    border: solid 2px rgb(39, 83, 153);
    max-height: 1000px;
    min-width: 150px;
    max-width: 200px;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
}

.navint{
   font-family:Caramel;
   display:flex;
   justify-content:center;
   align-items:center;
   font-size:20px;
   height:100px;
   padding-top:10px;
   border-radius:2px;
   transition: transform .2s;
   background-color:rgb(63, 118, 207);
   color:rgb(43, 45, 135);
   border: solid 2px rgb(39, 83, 153);
}

.navint:hover{
   transform: scale(1.2);
   color: rgb(255, 255, 255);
}

.main {
    display: grid;
    justify-content:center;
    grid-gap: 5px;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    color:rgb(43, 45, 135);
    background-color: rgb(91,	192,	235);
    border: solid 2px rgb(39, 83, 153);
    padding: 5px;
    max-height: 600px;
    min-height: 600px;
    max-width: 1300px;
    margin:auto 0;
    overflow-wrap:break-word;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: rgb(39, 83, 153) rgb(63, 118, 207);
    img{
   width:200px;
   height:200px;
   transition: transform .2s;
}

   img:hover{
transform: scale(1.2);
   }
}

.images{
   display:flex;
   flex-direction:column;
   justify-content:space-around;
   grid-row: 2 / 3;
   grid-column: 3 / 4;
   color: rgb(43, 45, 135);
   background-color: rgb(88, 164, 230);
   border: solid 2px rgb(39, 83, 153);
   max-height: 750px;
   max-width: 500px;

   img{
   max-width:170px;
   max-height:170px;
}
}

.ImgInt{
transition: transform .2s;
}

.ImgInt:hover{
    transform: scale(1.2);
  }


.footer{
   font-size:smaller;
   grid-row: 3 / 4;
   grid-column: 1 / 4;
   color: rgb(43, 45, 135);
   padding: 2px;
   background-color: rgb(	91,	192,	235);
   border: solid 0.5px rgb(39, 83, 153);
   max-height: 300px;
}

  

.smc{
 display:flex;
 flex-direction:column;
 justify-content:center;
 align-items:center;
 grid-row: 1 / 2;
 grid-column: 1 / 2;
 border: solid 2px rgb(39, 83, 153);
 background-color: rgb(88, 164, 230);
 border-radius: 5px;
 padding:5px;
 width:300px;
 height:300px;
}


.PVC{
   display:flex;
   flex-direction:column;
 justify-content: center;
  align-items: center;
 grid-row: 1 / 2;
 grid-column: 2 / 3;
 border: solid 2px rgb(39, 83, 153);
 background-color: rgb(88, 164, 230);
 border-radius: 5px;
 padding: 5px;
 width:300px;
 height:300px;
}


.AC{
   display:flex;
   flex-direction:column;
   justify-content: center;
  align-items: center;
   grid-row: 1 / 2;
   grid-column: 3 / 4;
   border: solid 2px rgb(39, 83, 153);
   background-color: rgb(88, 164, 230);
   border-radius: 5px;
   padding:5px;
   width:300px;
   height:300px;
}


.MTT{
   display:flex;
   flex-direction:column;
   justify-content: center;
  align-items: center;
   grid-row: 2 / 3;
   grid-column: 1 / 2;
   border: solid 2px rgb(39, 83, 153);
   background-color: rgb(88, 164, 230);
   border-radius: 5px;
   padding:5px;
   width:300px;
   height:300px;
}


.Susie{
   display:flex;
   flex-direction:column;
   justify-content: center;
  align-items: center;
   grid-row: 2 / 3;
   grid-column: 2 / 3;
   border: solid 2px rgb(39, 83, 153);
   background-color: rgb(88, 164, 230);
   border-radius: 5px;
   padding:5px;
   width:300px;
   height:300px;
}


.Undyne{
   display:flex;
   flex-direction:column;
   justify-content: center;
  align-items: center;
   grid-row: 2 / 3;
   grid-column: 3 / 4;
   border: solid 2px rgb(39, 83, 153);
   background-color: rgb(88, 164, 230);
   border-radius: 5px;
   padding:5px;
   width:300px;
   height: 300px;
}

.Spamton{
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
   grid-row: 3 / 4;
   grid-column: 1 / 2;
   border: solid 2px rgb(39, 83, 153);
   background-color: rgb(88, 164, 230);
   border-radius: 5px;
   padding:5px;
   width:300px;
   height: 300px;
}

.Tenna{
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
   grid-row: 3 / 4;
   grid-column: 2 / 3;
   border: solid 2px rgb(39, 83, 153);
   background-color: rgb(88, 164, 230);
   border-radius: 5px;
   padding:5px;
   width:300px;
   height: 300px;
}
.August{
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
   grid-row: 3 / 4;
   grid-column: 3 / 4;
   border: solid 2px rgb(39, 83, 153);
   background-color: rgb(88, 164, 230);
   border-radius: 5px;
   padding:5px;
   width:300px;
   height: 300px;
}



}