body {

   background-image: url("./Picture/UTDR_BG.gif");
   background-repeat:repeat;
font-size:larger;
font-family: Arial, Helvetica, sans-serif;

a:link {
   text-decoration:none;
   color:rgb(43, 45, 135);
}

a:visited {
   text-decoration:none;
   color:rgb(43, 45, 135);
}

a:hover{
   text-decoration:underline;
   color:rgb(43, 45, 135);
}

.container {
   display:grid;
   justify-content:center;
   padding-top: 50px;
}

.banner {
   justify-content: center;
   display:flex;
   grid-row:1 / 2;
   grid-column: 1 / 4;
   color:rgb(43, 45, 135);
   background-color: rgb(63, 118, 207);
   border: solid 2px rgb(39, 83, 153);
   max-width: 1762px;
   height: 100px;

}

.nav {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    color:rgb(43, 45, 135);
    background-color: rgb(88, 164, 230);
    border: solid 2px rgb(39, 83, 153);
    max-height: 1000px;
    min-width: 150px;
    max-width: 200px;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
}

.navint{
   display:flex;
   justify-content:center;
   font-size:20px;
   height:100px;
   padding-top:10px;
   border-radius:2px;
   transition: transform .2s;
   background-color:rgb(63, 118, 207);
   color:rgb(43, 45, 135);
   border: solid 2px rgb(39, 83, 153);
}

.navint:hover{
   transform: scale(1.2);
   color: rgb(255, 255, 255);
}

.main {
   display:grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    color:rgb(43, 45, 135);
    background-color: rgb(91,	192,	235);
    border: solid 2px rgb(39, 83, 153);
    padding: 4px;
    max-height: 500px;
    min-height: 600px;
    max-width: 1300px;
    overflow-wrap:break-word;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: rgb(39, 83, 153) rgb(63, 118, 207);
}

.images{
   grid-row: 2 / 3;
   grid-column: 3 / 4;
   color: rgb(43, 45, 135);
   background-color: rgb(88, 164, 230);
   border: solid 2px rgb(39, 83, 153);
   max-height: 750px;
   max-width: 500px;
}

.ImgInt{
   border: solid 2px rgb(39, 83, 153);
}

.footer{
   grid-row: 3 / 4;
   grid-column: 1 / 4;
   color: rgb(43, 45, 135);
   background-color: rgb(	91,	192,	235);
   border: solid 0.5px rgb(39, 83, 153);
   max-height: 1000px;
}

.smc{
 grid-row: 1 / 2;
 grid-column: 1 / 2;
}
.smc:hover{
   transform: scale(1.2);
}

.MTT{
 grid-row: 1 / 2;
 grid-column: 2 / 3;
}
.MTT:hover{
   transform: scale(1.2);
}

.August{
   grid-row: 1 / 2;
   grid-column: 3 / 4;
}
.August:hover{
   transform: scale(1.2);
}

.Seb{
   grid-row: 2 / 3;
   grid-column: 1 / 2;
}
.Seb:hover{
   transform: scale(1.2);
}

.Susie{
   grid-row: 2 / 3;
   grid-column: 2 / 3;
}
.Susie:hover{
   transform: scale(1.2);
}

.Elliot{
   grid-row: 2 / 3;
   grid-column: 3 / 4;
}
.Elliot:hover{
   transform: scale(1.2);
}

.Yukirai{
   grid-row: 3 / 4;
   grid-column: 1 / 2;
}

.Yukirai:hover{
   transform: scale(1.2);
}


}